.css-nav {
    background-color: rgba(10, 25, 41, 0.72);
    box-shadow: rgb(19, 47, 76) 0px -1px 1px inset;
    backdrop-filter: blur(20px);
    align-items: center;
}
.css-logo {
    height: 4rem;
    width: auto;
    padding-top: 5px;
    padding-left: 15px;
}

img.css-sussyimg {
    background-color: rgba(10, 25, 41, 0.72);
    box-shadow: rgb(19, 47, 76) 0px -1px 1px inset;
    backdrop-filter: blur(20px);
    height: 100%;
    padding-top: 5px; 
    padding-left: 15px;
}

body{
    background-color: rgb(0, 30, 60);
    color: rgb(255, 255, 255);
    font-family: 'IBM Plex Sans';
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}